<p>form-login-user works!</p>

<form #login="ngForm" (ngSubmit)="onSubmit(login)" novalidate>
    <tr>
        <td>username</td>
        <td><input name="username" ngModel required #username="ngModel"></td>
    </tr>
    <tr>
        <td>password</td>
        <td><input name="password" ngModel required></td>
    </tr>
    <tr>
    <button>Submit</button>
  </form>

  <p>First name value: {{ username.value }}</p>
  <p>First name valid: {{ username.valid }}</p>
  <p>Form value: {{ login.value | json }}</p>
  <p>Form valid: {{ login.valid }}</p>